# Archivos Python compilados
*.py[cod]
*$py.class
*.pyo
*.pyd
*.log
*.spec
*.sqlite3
*.swp
*.swo
*~
*.ico
.DS_Store          # MacOS
Thumbs.db          # Windows
desktop.ini        # Windows

# Carpetas

venv/
env/
ENV/
dist/
build/
__pycache__/
.idea/
.vscode/
